/*
 ＊ このファイルを更新した場合は npm run build を実行する
 */
:root {
    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --blue-50: #eff6ff;
    --blue-100: #dbeafe;
    --blue-200: #bfdbfe;
    --blue-400: #60a5fa;
    --blue-600: #2563eb;
    --blue-700: #1D4ED8;

    --red-100: #fff5f5;
    --red-200: #fed7d7;
    --red-300: #feb2b2;
    --red-400: #fc8181;
    --red-500: #f56565;
    --red-600: #e53e3e;
    --red-700: #c53030;

    --teal-100: #e6fffa;
    --teal-200: #b2f5ea;
    --teal-300: #81e6d9;
    --teal-400: #4fd1c5;
    --teal-500: #38b2ac;
    --teal-600: #319795;
    --teal-700: #2c7a7b;
    --teal-800: #285e61;
    --teal-900: #234e52;

    --green-50: #f0fdf4;
    --green-100: #dcfce7;
    --green-200: #bbf7d0;
    --green-300: #86efac;
    --green-400: #4ade80;
    --green-500: #22c55e;
    --green-600: #16a34a;
    --green-700: #15803d;
    --green-800: #166534;
    --green-900: #14532d;

    --admin-main-color: var(--green-800);
    --owner-main-color: var(--teal-500);
    --sucsess-color: #c2deff;
    --transition-hover: 0.3s;
}


.list-tbl {
    width: 100%;
}

.list-tbl th,
.list-tbl td {
    padding: .25rem;
}
